.action-button {
  background-color: $elements-bg;
  max-width: 100%;
  height: 48px;
  border-radius: 2px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border: none;
}
.button-info {
  max-width: 100%;
  height: 48px;
  border-radius: 2px;
  background-color: white;
  color: $elements-bg;
  font-size: 18px;
  font-weight: bold;
  border: none;
  margin-top: 15px;
}
@include for-large-up {
  .action-button {
    width: 160px;
    margin: 0;
  }
}
