@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap");
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Work Sans", sans-serif;
  color: #2B292D;
  overflow-x: hidden;
}

header {
  display: flex;
  align-items: center;
  height: 64px;
}
header .logo {
  display: flex;
  align-items: center;
}
header .logo__img {
  width: 48px;
  height: 48px;
  margin-right: 13px;
  margin-left: 15px;
}
header .logo__title {
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
}
header .logo__description {
  display: none;
}
header .burger-menu {
  margin-left: auto;
  background-color: inherit;
  border: none;
  height: 64px;
  width: 58px;
  border-left: 1px solid rgba(0, 0, 0, 0.15);
}
header .burger-menu img {
  width: 18px;
  height: 13px;
}
header .header__action-button, header .navigation {
  display: none;
}

@media screen and (min-width: 400px) {
  .container__header {
    background-color: #f3c6bd;
    padding-top: 39px;
    width: 1400px;
    margin: auto;
  }
  .container__header header {
    width: 1140px;
    height: 62px;
    margin: auto;
    align-items: flex-start;
  }
  .container__header header .logo__img {
    width: 60px;
    height: 60px;
    margin-right: 15px;
  }
  .container__header header .logo__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .container__header header .logo__title {
    font-size: 18px;
  }
  .container__header header .logo__description {
    display: inline-block;
    font-size: 18px;
    line-height: 25px;
    opacity: 0.6;
    color: #2b292d;
  }
  .container__header header .navigation {
    display: inline-block;
    margin-left: auto;
    margin-top: 7px;
    margin-right: 75px;
  }
  .container__header header .navigation__link {
    color: #2b292d;
    line-height: 25px;
    font-size: 18px;
    text-decoration: none;
    margin-right: 50px;
  }
  .container__header header .navigation__link:last-child {
    margin-right: 0;
  }
  .container__header header .navigation__link_activ {
    font-weight: 700;
  }
  .container__header header .navigation__arrow {
    display: inline-block;
    margin-left: 11px;
    width: 8px;
    height: 5px;
    background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/arrow.png);
  }
  .container__header .header__action-button {
    display: inline-block;
    position: relative;
    right: 0;
  }
  .container__header .burger-menu {
    display: none;
  }
}
.special-margin {
  margin-left: 15px;
  margin-right: 15px;
}

.headline {
  background-color: #F3C6BD;
  padding: 0 0 36px;
  max-width: 100%;
}
.headline__titel {
  max-width: 754px;
  font-weight: bold;
  font-size: 50px;
  line-height: 50px;
  letter-spacing: -0.3125px;
  color: #2B292D;
}
.headline__description {
  margin-top: 24px;
  font-size: 24px;
  line-height: 34px;
}
.headline__button-area {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
.headline__button-area .headline__button-learn {
  margin-top: 15px;
  background-color: #fff;
  color: #3040c4;
}
.headline .first-screen__img {
  max-width: 100%;
  margin-top: 33px;
}

@media screen and (min-width: 400px) {
  .special-margin {
    margin-left: 0;
    margin-right: 0;
  }

  .headline {
    width: 1140px;
    margin: auto;
    position: relative;
    margin-top: 84px;
    padding-bottom: 77px;
  }
  .headline__titel {
    font-size: 80px;
    line-height: 78px;
    letter-spacing: -0.5px;
  }
  .headline__description {
    margin-top: 34px;
    max-width: 456px;
  }
  .headline__button-area {
    display: inline;
  }
  .headline__button-area {
    margin-top: 58px;
  }
  .headline__button-area .action-button {
    margin-right: 10px;
  }
  .headline .first-screen__img {
    position: relative;
    left: 449px;
    max-width: 100%;
    padding: 0;
  }
  .headline .headline__content {
    position: absolute;
    z-index: 5;
  }
}
.action-button {
  background-color: #3040C4;
  max-width: 100%;
  height: 48px;
  border-radius: 2px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border: none;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
}

.button-info {
  max-width: 100%;
  height: 48px;
  border-radius: 2px;
  background-color: white;
  color: #3040C4;
  font-size: 18px;
  font-weight: bold;
  border: none;
  margin-top: 15px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
}

@media screen and (min-width: 400px) {
  .action-button {
    width: 160px;
    margin: 0;
  }
}
.about {
  background: #F4F5F7;
  padding: 46px 15px;
}

.artcle {
  margin-bottom: 20px;
}
.artcle:last-child {
  margin-bottom: 0;
}
.artcle__title {
  font-weight: bold;
  font-size: 22px;
  line-height: 32px;
}
.artcle__text {
  font-size: 22px;
  line-height: 32px;
}

@media screen and (min-width: 400px) {
  .about {
    background: #F4F5F7;
  }
  .about__wrapper {
    width: 1140px;
    display: flex;
    padding-top: 77px;
    padding-bottom: 76px;
    margin: auto;
  }
  .about__wrapper .artcle {
    width: 555px;
    margin-bottom: 0;
  }
  .about__wrapper .artcle:first-child {
    margin-right: 29px;
  }
}
.customers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.customer {
  min-height: 93px;
  min-width: 106px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  border: 1px solid #E3E3E3;
}
.customer__image {
  filter: brightness(0);
  max-width: 80%;
}

@media screen and (min-width: 400px) {
  .customers {
    margin: auto;
    width: 1140px;
    padding-top: 30px;
    padding-bottom: 106px;
    justify-content: space-between;
  }
  .customers .customer {
    border: none;
    height: auto;
    width: auto;
  }
  .customers .customer__image {
    max-width: 100%;
  }
}
.features {
  display: none;
}

.features-mob {
  padding: 9px 0 50px;
}
.features-mob__info {
  padding: 0 15px 40px;
  border-bottom: 1px solid #E3E3E3;
}
.features-mob__info:last-child {
  padding-bottom: 0;
  border: none;
}
.features-mob__title {
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.357143px;
  margin-bottom: 15px;
}
.features-mob__subtitle {
  font-weight: bold;
  font-size: 22px;
  line-height: 34px;
  color: #009B4D;
  margin-bottom: 17px;
  margin-top: 40px;
}
.features-mob__description {
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 34px;
}
.features-mob__text-for-img {
  margin-top: 20px;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: rgba(43, 41, 45, 0.6);
}

@media screen and (min-width: 400px) {
  .features-mob {
    display: none;
  }

  .features {
    display: block;
    max-width: 1400px;
    position: relative;
    margin-bottom: 103px;
  }

  .features__img_position-left {
    position: absolute;
    top: 258px;
  }

  .features__content {
    max-width: 1140px;
    margin: auto;
  }

  .features__wrapper {
    max-width: 460px;
  }

  .features__subtitle {
    font-weight: bold;
    font-size: 22px;
    line-height: 34px;
    color: #009B4D;
    margin-bottom: 24px;
  }

  .features__title {
    font-weight: bold;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
    margin-bottom: 30px;
  }

  .features__description {
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 42px;
  }

  .features__adv-wrap, .features__advatage-item {
    display: flex;
    align-items: flex-start;
  }

  .features__advatage-title {
    margin-left: 15px;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    color: #3142C6;
    margin-bottom: 8px;
  }

  .features__advatage-text {
    font-size: 18px;
    line-height: 26px;
    border-bottom: 3px solid #3142C6;
    padding-bottom: 20px;
  }

  .features__advatage-item-text {
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    margin-left: 15px;
  }

  .features__advatage-item {
    padding-bottom: 15px;
    margin-top: 20px;
    border-bottom: 1px solid rgba(43, 41, 45, 0.15);
  }

  .features__img_position-right {
    position: absolute;
    top: 0;
    right: 0;
  }
}
.footer {
  padding: 40px 0 22px;
}
.footer__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
  border-bottom: 1px solid #E3E3E3;
}
.footer .footer-logo {
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer .footer-logo__text {
  margin-top: 20px;
  margin-bottom: 31px;
}
.footer .footer-logo__title {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
}
.footer .footer-logo__description {
  text-align: center;
  font-size: 18px;
  line-height: 26px;
  color: #2B292D;
  opacity: 0.6;
}
.footer__description {
  display: none;
}
.footer__apple {
  margin-right: 10px;
}
.footer__nav {
  padding: 0 15px;
}
.footer__product {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.footer__product-title {
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 18px;
}
.footer__product-link {
  font-size: 18px;
  line-height: 37px;
  color: rgba(43, 41, 45, 0.6);
  text-decoration: none;
}
.footer__company {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.footer__company-link {
  font-size: 18px;
  line-height: 37px;
  color: rgba(43, 41, 45, 0.6);
  text-decoration: none;
}
.footer__line {
  display: none;
}
.footer__links {
  padding: 0 15px;
}
.footer__twiter {
  background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/social-twitter.png);
  width: 21px;
  height: 16px;
  margin-right: 20px;
  display: inline-block;
}
.footer__facebook {
  background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/social-fb.png);
  width: 18px;
  height: 17px;
  margin-right: 20px;
  display: inline-block;
}
.footer__linkedin {
  display: inline-block;
  background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/social-linkedIn.png);
  width: 18px;
  height: 17px;
}
.footer__copyright {
  margin: 30px 0;
}
.footer__copyright-item {
  line-height: 22px;
  margin-right: 22px;
  color: #2B292D;
  opacity: 0.6;
  font-size: 14px;
  text-decoration: none;
}
.footer__copyright-item:last-child {
  margin-right: 0;
}

@media screen and (min-width: 400px) {
  .footer {
    padding: 0;
    margin-top: auto;
  }
  .footer__wrap {
    max-width: 1140px;
    display: flex;
    margin: auto;
  }
  .footer__info {
    display: inline-block;
    margin-top: 43px;
    max-width: 360px;
    margin-right: 126px;
    border: none;
    padding-bottom: 0;
  }
  .footer__info .footer-logo {
    padding: 0;
    flex-direction: row;
    align-items: center;
  }
  .footer__info .footer-logo__img {
    padding-right: 13px;
  }
  .footer__info .footer-logo__text {
    margin: 0;
  }
  .footer__info .footer-logo__title {
    text-align: left;
    font-weight: bold;
    margin: 0;
  }
  .footer__info .footer-logo__description {
    text-align: center;
    font-size: 18px;
    line-height: 26px;
    color: #2B292D;
    opacity: 0.6;
  }
  .footer__description {
    font-size: 18px;
    line-height: 26px;
    color: rgba(43, 41, 45, 0.6);
    display: inline-block;
    margin: 26px 0 25px 0;
  }
  .footer__nav {
    padding: 0;
    margin-top: 60px;
    display: flex;
  }
  .footer__product, .footer__company {
    margin-top: 0;
    width: 265px;
  }
  .footer__product {
    margin-right: 29px;
  }
  .footer__line {
    display: block;
    width: 100%;
    border-top: 1px solid;
    background: #2B292D;
    opacity: 0.1;
    margin-top: 47px;
  }
  .footer__links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    max-width: 1140px;
    margin: auto;
    padding: 0;
  }
  .footer__copyright {
    margin: 0;
  }
  .footer__social-media {
    display: flex;
    align-items: center;
  }
  .footer__social-media {
    display: flex;
    align-items: center;
  }
  .footer__social-media > a {
    display: inline-block;
  }
}
.order {
  padding: 50px 15px;
  background-color: #F4F5F7;
}
.order__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.order__title {
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  letter-spacing: -0.25px;
  margin: 40px 0 18px;
}
.order__description {
  font-size: 22px;
  line-height: 32px;
  margin-bottom: 40px;
}
.order__email {
  width: 100%;
  height: 48px;
  margin-bottom: 12px;
  background: #FFFFFF;
  border: 1px solid rgba(43, 41, 45, 0.2);
  box-sizing: border-box;
  border-radius: 2px;
}
.order__email::placeholder {
  font-size: 18px;
  line-height: 13px;
  text-align: center;
  color: #2B292D;
}
.order__info {
  margin-top: 10px;
  font-size: 14px;
  line-height: 22px;
  color: rgba(43, 41, 45, 0.6);
}
.order__link {
  color: #3142C6;
}
.order__width {
  width: 100%;
  margin: auto;
}

@media screen and (min-width: 400px) {
  .order {
    width: 1400px;
    padding: 0;
  }
  .order__wrapper {
    height: 441px;
    width: 1140px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .order__content {
    width: 555px;
  }
  .order__img {
    padding-right: 121.59px;
  }
  .order__title {
    text-align: left;
  }
  .order__feedback {
    display: flex;
    margin-bottom: 10px;
  }
  .order__email {
    margin-bottom: 0;
    margin-right: 10px;
  }
  .order__width {
    width: 160px;
  }
}
.audience {
  padding: 51px 15px 50px;
  background-color: rgba(0, 161, 198, 0.07);
}
.audience__subtitle {
  font-size: 22px;
  line-height: 34px;
  text-align: center;
  padding-bottom: 18px;
}
.audience__title {
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  letter-spacing: -0.357143px;
  padding-bottom: 18px;
}
.audience__description {
  font-size: 24px;
  line-height: 34px;
  text-align: center;
}
.audience__card {
  margin-top: 15px;
  background-color: #fff;
  padding: 22px 0 33px;
  border-radius: 8px;
  box-shadow: 0px 13px 18px rgba(0, 0, 0, 0.15), 0px 11px 55px rgba(0, 0, 0, 0.07);
}
.audience__card:first-child {
  margin-top: 40px;
}
.audience__card:hover {
  background-color: #3141c5;
}
.audience__card-img {
  display: block;
  margin: 0 auto 22px;
}
.audience__card-subtitle {
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
}

@media screen and (min-width: 400px) {
  .audience {
    padding: 108px 0 110px;
  }
  .audience__wrapper {
    width: 1140px;
    margin: auto;
  }
  .audience__info {
    max-width: 555px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .audience__buttons {
    margin-top: 34px;
  }
  .audience__subtitle {
    padding-bottom: 24px;
  }
  .audience__title {
    padding-bottom: 30px;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
  }
  .audience__cards {
    margin-top: 111px;
    display: flex;
    justify-content: space-between;
  }
  .audience__card {
    margin-top: 0;
    max-width: 262px;
    flex-grow: 1;
  }
  .audience__card:first-child {
    margin-top: 0;
  }
}
.page {
  width: 100%;
}

@media screen and (min-width: 400px) {
  .page {
    width: 1400px;
    margin: auto;
  }
}

/*# sourceMappingURL=styles.css.map */
