$main-text-color: #2b292d;
$secondary-text-color: #fff;
$elements-bg: #3040c4;
$main-size-text: 24px;
$size-text-title-mob: 40px;
$size-text-title-desc: 56px;
$size-text-subtitle: 22px;
$main-line-hight: 34px;
$line-hight-title-mob: 40px;
$line-hight-title-desc: 56px;
$main-text-family: 'Work Sans', sans-serif;
$main-text-weight: 400;
$secondary-text-weight: 700;
$lg: 400px;
